.footer {
  margin-top: 100px;
}

.footer-box {
  background-color: black;
  padding: 40px;
  border-radius: 40px;
}

.footer-box h1 {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.footer-box h1:hover {
  color: green;
}

.footer-box a {
  margin-left: 43%;
}

.footer-box a:hover {
  color: #fff;
}
